{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block page_title %} Title {% endblock %}</title>

        <link rel="stylesheet" href="{% static 'blog/css/base.css' %}" />

        {% block page_css %} {% endblock %}
        
    </head>
    <body>

        <nav class="top-nav">

            <a href="/">My Blog</a>

            {% if user.is_authenticated %}
                <div>
                    <a href="/profile"> <button>My Profile</button> </a>
                    <a href="/my-blogs"> <button>My blogs</button> </a>
                    <a href="/create-post"> <button>Create Post</button> </a>
                    <a href="/logout"> <button>Logout</button> </a>
                </div>
            {% else %}
                <div>
                    <a href="/signup"> <button>Sign Up</button> </a>
                    <a href="/login"> <button>Login</button> </a>
                </div>
            {% endif %}

        </nav>

        <main class="container">
            {% block page_content %} {% endblock %}
        </main>

    </body>
    {% block page_js %} {% endblock %}
</html>